<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Movie Hub</title>
        <!--bootstrap cdn-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--custom css-->
        <link rel = 'stylesheet' type = 'text/css' href = '/stylesheets/app.css'>
    </head>
    <body>
        <nav class = 'navbar-dark bg-dark navbar-nav text-center'>
            <div class = 'navbar-brand' id = 'brand'>MovieHubb</div>
        </nav>

