<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Movie Hub</title>
        <!--semantic ui cdn-->
        <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"  crossorigin="anonymous">
        <!--custom css-->
        <link rel = 'stylesheet' type = 'text/css' href = '/stylesheets/app.css'>
    </head>
    <body>

