<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Movie Hub</title>
        <!--bootstrap-->
        <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"  crossorigin="anonymous">
    </head>
    <body>

