<% include partials/header %>
<!--navbar-->
<div class = 'ui fixed inverted menu'>
    <div class = 'item'>MovieHubb</div>
</div>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <div class = 'ui fluid action input'>
        <input type = "text" name = "search" placeholder = "search title">
        <i class = "search icon" type = "submit"></i>
    </div>   
</form>
<% include partials/footer %>