<% include partials/header %>
<!--navbar-->
<div class = 'ui fixed inverted menu'>
    <div class = 'item'>MovieHubb</div>
</div>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <div class = 'ui form'>
        <div class = 'inline fields' id = 'input'>
            <input type = "text" name = "search" placeholder = "search title">
        </div>
    </div>
    
    <button class = "ui primary center button" type = "submit">Submit</button>
</form>
<% include partials/footer %>