<% include partials/header %>
<!--navbar-->
<div class = 'ui fixed inverted menu'>
    <div class = 'item'>MovieHubb</div>
</div>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <input type = "text" name = "search" placeholder = "search title">
    <button type = "submit">Submit</button>
</form>
<% include partials/footer %>