<% include partials/header %>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <div class = 'jumbotron jumbotron-fluid'>
        <div class = 'input-group'>
            <input class = "form-control" type = "text" name = "search" placeholder = "search title">
            <button class = "btn btn-info" type = "submit">Search</button>
        </div> 
            <hr class = 'my-4'>
            <p class = 'lead'>"In the future, everybody is going to be a director. Somebody’s got to live a real life so we have something to make a movie about." </p>
            <p id = 'auth'>– Cameron Crowe</p>
    </div>   
</form>
<% include partials/footer %>