<% include partials/header %>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <div class = 'jumbotron'>
        <div class = 'input-group'>
            <input class = "form-control" type = "text" name = "search" placeholder = "search title">
            <button class = "btn btn-info" type = "submit">Search</button>
        </div> 
    </div>   
</form>
<% include partials/footer %>