<% include partials/header %>
<h1>Movie Hub</h1>

<!--form/searchbar for search input-->
<form action = "/results" method = "GET">
    <input type = "text" name = "search" placeholder = "search title">
    <button type = "submit">Submit</button>
</form>
<% include partials/footer %>