<% include partials/header %>
    <ul>
        <% data['Search'].forEach(function(movie){ %>
            <li>
                <div class = 'ui segment'>
                    <%= movie['Title'] %> - <%= movie['Year'] %>
                </div>   
            </li>
        <% })%>
    </ul>
    <a href = '/'>Back</a>
<% include partials/footer %>