<% include partials/header %>
    <ul class = 'list-group-item'>
        <% data['Search'].forEach(function(movie){ %>
            <li class = 'list-group-item'><%= movie['Title'] %> - <%= movie['Year'] %></li>
        <% })%>
    </ul>
    <a class = 'btn btn-primary' href = '/' id = 'back'>Back</a>
<% include partials/footer %>