<% include partials/header %>
    <ul class = 'list-group-item'>
        <% data['Search'].forEach(function(movie){ %>
            <li class = 'list-group-item'><%= movie['Title'] %> - <%= movie['Year'] %></li>
        <% })%>
    </ul>
    <div class = 'text-center'>
        <a class = 'btn btn-primary' href = '/'>Back</a>
    </div>
    
<% include partials/footer %>