body{
    background-image: url(https://images.pexels.com/photos/1002634/pexels-photo-1002634.jpeg?auto=compress&cs=tinysrgb&h=350);
    background-repeat: no-repeat;
    height: 100;
    background-position: center;
    background-attachment: fixed;
}

container{
    margin-top: 10%;
}
li{
    opacity: 0.5;
}

li:hover{
    opacity: 1;
}





