body{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand{
    float: none;
    text-align: center;
    font-size: 50px;
}

.jumbotron{
    background-image: url(https://images.pexels.com/photos/558478/pexels-photo-558478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
}

.input-group{
    width: 50%;
    margin: 0 auto;
}
p{
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    color: white;
    font-size: 100%;
    line-height: 100%;
}

#auth{
    text-align: right;
    font-size: 100%;
    margin-right: 5%;
}
ul{
    opacity: 0.6;
    background-color: none;
    margin: 0%;
}
li{
    opacity: 0.6;
    text: black;
    border:  3px solid black;
    margin: 0%;
}

li:hover{
    opacity: 1;
}

.btn-primary{
    margin-top: 2%;
}






